

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(255, 140, 0, 1) !important;
    border-color: rgba(255, 140, 0, 0.5) !important; 
    outline: none !important; 
    resize: none !important;

}
h2,h3{
    color:#FF8C00;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.clanarina{
    color:#FF8C00;
}

.header-bg {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 450px; 
    color: white;
    padding-top: 100px; 
}

.header-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.header-content {
    position: relative;
    margin-top:65px;
    z-index: 2;
}

.text-orange {
    color: #e36600 !important;
}
.btn-orange {
    background-color: #e36600 !important;
    border-color: #e36600!important;
}

.btn-orange:hover {
    background-color: #FF8C00 !important;
    border-color: #FF8C00 !important;
}

.btn-orange:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5) !important;
}

.card-tr {
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.card-tr:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(255, 140, 0, 0.1);
}

.carousel-item {
    height: 300px; 
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.slicice{
    object-fit: cover; 
    height: 200px;     
    width: 90%;      
}
.statinfo{
    background-image: url('../images/grupna.jpg'); 
    position: relative;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.statinfo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.statinfo p{
    color: white;
    z-index: 2;
    position: relative;   
}
.statinfo h3{
    color:#FF8C00;
    z-index: 2;
    position: relative;  
}
/* Fontovi za NAVIGACIJU */ 
.navbar-brand{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.navbar-nav .nav-link{
    font-size: 20px !important;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.fixed-top{
    top: 0; 
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
}
.korisnici{
    width: 100px;
    
}
.fa-sitemap {
    margin-top: 20px;
}

iframe {
    border: 2px solid #f15f29; 
    border-radius: 10px; 
    width: 100%;
    height: 200px; 
}

footer ul li a {
    color: white;          
    text-decoration: none !important; 
    transition: color 0.3s ease; 
}

footer ul li a:hover {
    color: #FFA500; 
}

.our-team {
    height: 550px; 
    overflow: hidden;
}

.our-team img {
    width: 100%;
    height: 100%;
    object-fit: bottom !important; 
}
.our-team::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}
.our-team h4,p {
    z-index: 2; 
}
@media screen and (max-width: 768px) {
    .ishrana-form{
        margin-bottom: 20px;
    }
    .card{
        margin-bottom:8px;
    }
}
