.header-bg {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 450px; 
    color: white;
    padding-top: 100px; 
}

.header-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.header-content {
    position: relative;
    z-index: 2;
}

.text-orange {
    color: #e36600 !important;
}
.btn-orange {
    background-color: #e36600 !important;
    border-color: #e36600!important;
}

.btn-orange:hover {
    background-color: #FF8C00 !important;
    border-color: #FF8C00 !important;
}

.btn-orange:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5) !important;
}

.card-tr {
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.card-tr:hover {
    transform: scale(1.05); /* Povećava karticu za 5% na hover */
    box-shadow: 0 4px 8px rgba(227, 102, 0, 0.1); /* Dodaje senku */
}
