input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(255, 140, 0, 1) !important;
    border-color: rgba(255, 140, 0, 0.5) !important; 
    outline: none !important; 
    resize: none !important;
}

.header-bg {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 450px; 
    color: white;
    padding-top: 100px; 
}

.header-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.header-content {
    position: relative;
    z-index: 2;
}

.text-orange {
    color: #e36600 !important;
}
.btn-orange {
    background-color: #e36600 !important;
    border-color: #e36600!important;
}

.btn-orange:hover {
    background-color: #FF8C00 !important;
    border-color: #FF8C00 !important;
}

.btn-orange:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5) !important;
}

.card-tr {
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.card-tr:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(255, 140, 0, 0.1);
}

.carousel-item {
    height: 300px; 
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.slicice{
    object-fit: cover; 
    height: 200px;     
    width: 90%;      
}
.statinfo{
    background-image: url('../images/grupna.jpg'); 
    position: relative;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.statinfo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* zatamnjenje pozadine */
    z-index: 1;
}
.statinfo p{
    color: white;
    z-index: 2;
    position: relative;   
}
.statinfo h3{
    color:#FF8C00;
    z-index: 2;
    position: relative;  
}
.navbar-custom{
    background-color: black !important;
}
.korisnici{
    width: 100px;
    
}